.Home {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 13%;
  background-color: var(--mtc);
}

.Greetengs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.Greeting_text {
  font-size: var(--vbfs);
  color: var(--dark-blue);
  margin: 0;
}

.Sub_Greeting_text {
  font-size: var(--mfs);
  color: var(--dark-gray);
  margin: 0;
}

.Projects {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.ProjectBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 40px;
  box-shadow: 0 8px 52.3px #00000030;
}

.ImageBox {
  width: 100%;
}

.ImageBox img {
  width: 100%;
  border-radius: 40px;
  box-shadow: 0 8px 200px #00000030;
}

.Top {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.TextBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.InfoProject {
  font-size: var(--mls);
  color: var(--dark-gray);
  padding-top: 5px;
}

.ToProject,
.ToProject span,
.ToProject i {
  padding-top: 15px;
  font-size: var(--mls);
  color: var(--blue) !important;
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
}

.Projects a:nth-child(1) .NameProject {
  font-size: var(--mfs);
  color: var(--dark-blue) !important;
}

.Projects a:nth-child(2) .NameProject {
  font-size: var(--mfs);
  color: var(--yellow) !important;
}

.html {
  color: #e24b25 !important;
}

.css {
  color: #2864f0 !important;
}

.js {
  color: #efda4e !important;
}

.Heroku {
  color: #430098 !important;
}

.MongoDB {
  color: #00684a !important;
}

.GitHub {
  color: #24292e !important;
}

.Netlify {
  color: #05bdba !important;
}

.React {
  color: #01d8fe !important;
}



@media (max-width: 1440px) {
  .Home {
    gap: 45px;
    padding: 40px 10%;
  }
}

@media (max-width: 1024px) {
  .Home {
    gap: 30px;
    padding: 30px 8%;
  }
}

@media (max-width: 768px) {
  .Home {
    gap: 15px;
    padding: 20px 6%;
  }

  .Projects{
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .Home {
    gap: 10px;
    padding: 20px 3%;
  }

  .Projects{
    flex-direction: column;
  }
}

@media (max-width: 320px) {}